<%- include("header") -%>

<h1>This is my about page</h1>
<p>This website is to help to maintain your to do list. You can keep track of things and it will help you.</p>

<%- include("footer") -%>
